/*body*/
body {
  background: red !important;
}

/*presentation part*/
#presentation-part {
  box-shadow: none !important;
  page-break-after: always !important;
}

/*programme détaillé*/
.programmePart {
  box-shadow: none !important;
  page-break-after: always !important;
}

.programmation-container {
  border: none !important;
  page-break-after: always !important;
  height: 31cm !important;
}

.programmation-container > div {
  padding: 0 !important;
  margin: 0 !important;
}

.img-print {
  height: 300px !important;
  width: 380px !important;
}

.simple-img-print {
  width: 800px !important;
}

/*informations pratiques*/
#informationsPratiques {
  box-shadow: none !important;
  page-break-after: always;
}

/*Proposition tarifaire*/
#propositionTarifaire {
  box-shadow: none !important;
  page-break-after: always;
}

.print-black {
  color: black;
}

/*assurances*/
#assurances {
  box-shadow: none !important;
  page-break-after: always;
}

/*cgv*/
#cgv {
  box-shadow: none !important;
  page-break-after: always;
  font-size: 10px;
}
