/*reset css*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*colors*/

/*golden Brown : #b88434
raw sienna : #d38b5d
timberwolf : #eadeda 
Rhythm : #777da7
Bistre : #392a16
white :  #fffffa
black : #08090a 
grey font : #817d7a*/

/*variables*/

/*colors*/

:root {
  --color1: #b88434;
  --color2: #d38b5b;
  --color3: #eadeda;
  --color4: #777da7;
  --color5: #392a16;
  --white: #fffffa;
  --black: #08090a;
  --greyFont: #817d7a;
}

.white {
  color: var(--white);
}

.black {
  color: var(--black);
}

.grey-font {
  color: var(--greyFont);
}

.color1 {
  color: var(--color1);
}

.color2 {
  color: var(--color2);
}

.background1 {
  background: var(--color1);
}
.background2 {
  background: var(--color2);
}
.background2-05 {
  background: rgb(211, 139, 91, 0.9);
}
.background3 {
  background: var(--color3);
}
.background4 {
  background: var(--color4);
}
.background5 {
  background: var(--color5);
}

.background-white {
  background: var(--white);
}

.border-white {
  border-color: var(--white);
}

.border-color1 {
  border-color: var(--color1) !important;
}

.gradient-radial-color1-color3 {
  background: rgb(184, 132, 52);
  background: radial-gradient(
    circle,
    rgba(184, 132, 52, 1) 0%,
    rgba(234, 222, 218, 1) 100%
  );
}

.gradient-linear-color1 {
  background: rgb(234, 222, 173);
  background: linear-gradient(
    90deg,
    rgba(184, 132, 52, 0.85) 0%,
    rgba(184, 132, 52, 1) 100%
  );
}
/*fonts*/

/* @font-face {
  font-family: "nunito-regular";
  src: url('./assets/fonts/nunito/static/Nunito-Regular.ttf');
}

@font-face {
  font-family: "lora-regular";
  src: url('./assets/fonts/lora/static/Lora-Regular.ttf');
} */

@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap'); 

.nunito-regular {
  font-family: "nunito-regular";
}

.lora-regular {
  font-family: "Lora";
}
/*shadows*/
.color1-shadow {
  box-shadow: 0 0.125rem 0.75rem var(--color1);
}
.color2-shadow {
  box-shadow: 0 0.125rem 0.75rem var(--color2);
}

/*hr*/

hr:not([size]) {
  height: 2px;
  opacity: 0.75;
  overflow: hidden;
}

/*global*/

@media screen and (min-width: 1200px) {
  .nav-link {
    padding: 0 1rem;
    transition: 0.3s;
  }

  .nav-link:hover {
    transform: scale(1.05);
    color: white !important;
  }

  .border-right {
    border-right: solid 2px var(--white);
  }

  .navbar-nav {
    padding: 1rem 0;
  }
}

.cover {
  object-fit: cover;
}

.list-type-circle {
  padding-left: 1em;
  text-indent: -0.7em;
}
.list-type-circle-assurances {
  padding-left: 1em;
  text-indent: -0.7em;
}

.list-type-circle::before {
  content: "•";
  padding-right: 8px;
  color: var(--white);
}

.list-type-circle-assurances::before {
  content: "•";
  padding-right: 8px;
  color: var(--greyFont);
}

.max-width-1200 {
  max-width: 1200px;
  margin: auto;
}

.button {
  background: var(--color1);
  border: none;
  color: var(--white);
}

.form-check-input:checked {
  background-color: var(--color1);
  border-color: var(--color1);
}

.form-check-input:focus {
  box-shadow: none;
}

.form-control:focus {
  border-color: var(--color1);
  box-shadow: 0 0 0 0.25rem rgb(184, 132, 52, 0.25);
}

.cursor-pointer {
  cursor: pointer;
}

/*gestion décallage ancre menu sticky*/
html {
  scroll-padding-top: 6rem;
}

/*style de la page*/

/*header*/
#headImage {
  background-image: url("./assets/images/ancienne-eglise-paroissiale-de-sant-appiano_zoom.jpg");
  height: 50vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/*navbar*/
@media screen and (min-width: 1200px) {
  #navbarNavDropdown {
    display: flex;
    justify-content: center;
  }
}

nav .nav-item a {
  color: var(--white) !important;
}

.navbar-light .navbar-toggler {
  border-color: var(--white);
}

#navTitre {
  height: 100px;
}

/*presentation-part*/

#photoProfilConseiller {
  width: 66px;
  height: 66px;
  background: white;
  border: solid 1px var(--color2);
}

@media screen and (min-width: 768px) {
  #titreSejour {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
  }
}

/*programme part*/

.carousel {
  height: 330px;
}

/*proposition tarifaire*/

@media screen and (max-width: 768px) {
  #propositionTarifaire > div {
    border: none !important;
  }
  #propositionTarifaire > div > div {
    border: none !important;
  }
}

/*formulaire*/

@media screen and (max-width: 768px) {
  #formulaire > div {
    border: none !important;
  }
}

/*apparition au scroll*/

.invisible {
  opacity: 0;
  transform: translateY(200px);
}

section {
  opacity: 1;
  transition: transform 1s, opacity 1s;
}
